services:
  libro-tea:
    image: archaicbubba/libro-tea:latest
    container_name: libro-tea
    restart: unless-stopped
    volumes:
      - path/to/your/config:/librotea/config
      - path/to/your/audiobook:/librotea/AudioBooks
    environment:
#     How often LIBRO TEA will check for new AudioBooks
      - LIBRO_TEA_second=0
      - LIBRO_TEA_min=30
      - LIBRO_TEA_hour=0
      - LIBRO_TEA_day=0
#     General application settings
      - LIBRO_TEA_export_cover=True # Default True
      - LIBRO_TEA_export_metadata=True # Default True
      - LIBRO_TEA_export_cue=False # Default False
      - LIBRO_TEA_prefered_output=M4B # Default MP4, Alt MP3 if avalible
      - LIBRO_TEA_rename_to_title=True
      - LIBRO_TEA_clear_working=True
#      - LIBRO_TEA_debug=0 # values 0-2
#     User settings, Can be put here or in the account json file in config. Libro_FM_account_user_n, Libro_FM_account_password_n
#      - LIBRO_FM_account_user_1=user@example.com
#      - LIBRO_FM_account_password_1=PaSSwoRd
#      - LIBRO_FM_account_user_2=/run/secrets/account_user_2
#      - LIBRO_FM_account_password_2=/run/secrets/account_password_2
#    secrets:
#      - account_user_2
#      - account_password_2

#Example Secrets
#secrets:
#  account_user_2:
#    file: ./example/docker-secrets/account_user_2.txt
#  account_password_2:
#    file: ./example/docker-secrets/account_password_2.txt